*{
    margin:0;
    padding:0;
}

body {
    background-color: #111D40;
}
  
header{
    display:flex;
    background-color: #0B1726;
}

.texto-aviso {
    position: absolute;
    color: white;
    left: 10vw;
    top: 50vh;
}
  
#logo{
    width: 30vw;
    height: 10vh;
}
  
#logo img{
    height: 8vh;
}

#display{
    width: 50vw;
}
  
#user{
    width: 20vw;
}
  
main{
    margin: 2vh 2vw;
    min-height: 80vh;
}
  
#notes{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.card a{
    text-decoration: none;
}

.cartaozin {
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5); */
}
  
.item-cartao {
    border-radius: 10px;
    border: 2px solid #13F2F2;
    background-color: #0B1726;
}

#modal-view{
    border-radius: 10px;
    border: 2px solid #13F2F2;
    position: absolute;
    display: none;
    width: 90vw;
    padding:10px;
}
  
#close-modal{
    float:right;
}
  
#modal{
    background-color: #0B1726;
    border-radius: 10px;
    border: 2px solid #13F2F2;
    position: absolute;
    padding:2vh 2vw;
    display: none;
    width: 90vw;
}

#modal input, #modal textarea {
    color: white;
    background-color: #0B1726;
}

#modal input::placeholder {
    color: gray;
}
  
#controls-note{
    display:flex;
    gap:10px;
}

#title-note {
    font-weight: 800;
}

.card {
    cursor: pointer;
}